doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title #{ pageTitle }
        block styles
    body
        header
            a(href="/") Enter User &nbsp;
            |&nbsp;
            a(href="/users") Users

        block content